<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9e5c4ddc-736c-4c71-aef8-10e4a27f20de" Version="1.0.0.0" Publisher="CN=Lions" />
  <Properties>
    <DisplayName>privacy_policyInCharmbar</DisplayName>
    <PublisherDisplayName>Lions</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="privacy_policyInCharmbar" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="privacy_policyInCharmbar" ForegroundText="light" BackgroundColor="#B6D02D">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>